In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [ ]:
files=os.listdir(r'../input/uber-pickups-in-new-york-city')

In [ ]:
files

In [ ]:
files.remove('uber-raw-data-janjune-15.csv')

In [ ]:
apr=pd.read_csv(r'../input/uber-pickups-in-new-york-city/uber-raw-data-apr14.csv')
apr_data=pd.DataFrame(apr)
apr_data.head()

In [ ]:
aug=pd.read_csv(r'../input/uber-pickups-in-new-york-city/uber-raw-data-aug14.csv')
aug_data=pd.DataFrame(aug)
aug_data.head()

In [ ]:
july=pd.read_csv(r'../input/uber-pickups-in-new-york-city/uber-raw-data-jul14.csv')
july_data=pd.DataFrame(july)
july_data.head()

In [ ]:
jun=pd.read_csv(r'../input/uber-pickups-in-new-york-city/uber-raw-data-jun14.csv')
jun_data=pd.DataFrame(jun)
jun_data.head()

In [ ]:
may=pd.read_csv(r'../input/uber-pickups-in-new-york-city/uber-raw-data-may14.csv')
may_data=pd.DataFrame(may)
may_data.head()

In [ ]:
sep=pd.read_csv(r'../input/uber-pickups-in-new-york-city/uber-raw-data-sep14.csv')
sep_data=pd.DataFrame(sep)
sep_data.head()

In [ ]:
final=pd.concat([apr_data,aug_data,july_data,jun_data,may_data,sep_data])
final.shape

In [ ]:
df=final.copy()
df.head()

In [ ]:
df.dtypes

pre-processing

In [ ]:
df['Date/Time']=pd.to_datetime(df['Date/Time'])

In [ ]:
df.dtypes

In [ ]:
df.head()

SPLITTING DATA WITH ADDITIONAL COLUMNS

In [ ]:
df['weekday']=df['Date/Time'].dt.day_name()

In [ ]:
df['day']=df['Date/Time'].dt.day

In [ ]:
df['minute']=df['Date/Time'].dt.minute

In [ ]:
df['month']=df['Date/Time'].dt.month

In [ ]:
df['hour']=df['Date/Time'].dt.hour

In [ ]:
df.head()

ANALYSIS OF JOURNEY BY WEEKDAYS

In [ ]:
import plotly.express as px

In [ ]:
px.bar(x=df['weekday'].value_counts().index,
      y=df['weekday'].value_counts())

In [ ]:
df['weekday'].value_counts()

ANALYSIS OF JOURNEY BY HOURS

In [ ]:
plt.hist(df['hour'])

In [ ]:
df['hour'].unique()

In [ ]:
df['month'].unique()

ANALYSING RIDES IN EACH MONTH AT EACH HOUR

In [ ]:
plt.figure(figsize=(40,20))
for i, month in enumerate(df['month'].unique()):
    plt.subplot(3,2,i+1)
    df[df['month']==month]['hour'].hist()

ANALYSING WHICH MONTH HAS MAXIMUM RIDES

In [ ]:
df.groupby('month')['hour'].count()

In [ ]:
px.bar(x=df.groupby('month')['hour'].count().index,
      y=df.groupby('month')['hour'].count())

ANALYSING JOURNEY OF EACH DAY

In [ ]:
plt.figure(figsize=(10,8))
plt.hist(df['day'],bins=30,rwidth=.8)
plt.xlabel('date of the month')
plt.ylabel('total journeys')
plt.title('journeys by month day')

ANALYSING TOTAL RIDES MONTH WISE

In [ ]:
plt.figure(figsize=(20,8))
for i, month in enumerate(df['month'].unique(),1):
    plt.subplot(3,2,i)
    df_out=df[df['month']==month]
    plt.hist(df_out['day'])
    plt.xlabel('days in month')
    plt.ylabel('total_rides')

ANALYSING RUSH IN EACH HOUR

In [ ]:
ax=sns.pointplot(x='hour',y='Lat',data=df,hue='weekday')
ax.set_title('hoursoffday vs latitude of passenger')

ANALYSE WHICH BASE NUMBER GETS POPULAR BY MONTH NAME

In [ ]:
base=df.groupby(['Base','month'])['Date/Time'].count().reset_index()
base

In [ ]:
plt.figure(figsize=(10,6))
sns.lineplot(x='month',y='Date/Time',hue='Base',data=base)

HEATMAP BETWEEN WEEKDAY AND HOURS

In [ ]:
def count_rows(rows):
    return len(rows)

In [ ]:
by_cross=df.groupby(['weekday','hour']).apply(count_rows)
by_cross

In [ ]:
pivot=by_cross.unstack()
pivot

In [ ]:
plt.figure(figsize=(10,6))
sns.heatmap(pivot)

In [ ]:
def heatmap(col1,col2):
    by_cross=df.groupby([col1,col2]).apply(count_rows)
    pivot=by_cross.unstack()
    plt.figure(figsize=(10,6))
    return sns.heatmap(pivot)

In [ ]:
heatmap('day','hour')

In [ ]:
heatmap('month','hour')

ANALYSING RUSH AT EACH LOCATION

In [ ]:
plt.plot(df['Lon'],df['Lat'],'r+')

In [ ]:
plt.figure(figsize=(12,6))
plt.plot(df['Lon'],df['Lat'],'r+')
plt.xlim(-74.2,-73.7)
plt.ylim(40.6,41)